#Please create a .env file like structure below ^^
PORT=3000 
NODE_ENV=development
# Database 
DB_HOST=localhost 
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD= 
DB_NAME=livecode_db 
# Redis 
REDIS_HOST=localhost 
REDIS_PORT=6379 
 
